<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET and POST Request</title>
</head>
<body>
    <h1>How can we apply POST and GET request</h1>
    <form action="/total" method="POST">
        <h3><input type="number" name = "value1">Number1</h3><br> 
        <h3><input type="number" name = "value2">Number2</h3>
        <h3><input type="number" name = "value3">Number3</h3>
        <button type="submit">Calculate Total</button>
    </form>   
</body>
</html>