<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first Flask HTML</title>
</head>
<body>
    <h1>This is my first webpage with html file</h1>
    <h2>this is the first number sending here from python application. That is {{ number1 }}</h2>
    <h3>this is the second number sending here from python application. That is {{ number2 }}</h3>
</body>
</html>